.new-title, .new-body, .new-submit {
  margin-bottom: 10px;
}

.table-content {
  display: flex;
  align-items: center;
  align-content: left;
  width: 100%;
}

.table-index {
  display: flex;
}

.table-content > div {
  padding: 0 5px 7px;
}

.table-index > h4 {
  padding: 0 5px 5px;
  text-align: center;
}

.space {
  width: 141.38px;
}

.title {
 width: 30%;
}

.body {
  width: 40%;
}

label {
  display: block;
}